 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html,
 body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
 }

 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
 }

 h1 {
    height: 300px;
    width: 500px;
    margin: 30px 70px  10px 0px  ;
    font-size: 60px;
    white-space: nowrap;
 }

 button {
    font-size: 40px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    box-shadow: 5px 5px 0px rgb(44, 44, 44);
    color: white;
    scale: 1;
    margin-bottom: 30px;
 }

 button:active {
    scale: 0.85;
 }

 .pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 h2 {
    margin-bottom: 30px;
    font-size: 40px;
 }